@media (max-width: 933px) {
  .container {
    padding-inline: 0;
  }
  .nav {
    display: none;
  }
  .header-btn {
    display: none;
  }

  .header-img {
    width: 100%;
  }
  .header-img img {
    max-width: 70px;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-block: 30px;
  }
}
@media (max-width: 845px) {
  .main {
    flex-direction: column-reverse;
  }
  .main img {
    width: 100%;
  }
  .main-content {
    align-items: center;
  }
  .main-content p {
    display: none;
  }
  .main-content ion-icon {
    display: none;
  }
  .main-contact {
    display: none;
  }
  .main-btn button {
    width: 200px;
    height: 30px;
  }
}
@media (max-width: 845px) {
  .next-adaptiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about {
    flex-direction: column;
  }
  .about-main {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .about-next {
    flex-direction: column;
  }
  .about-next img {
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about-content img {
    display: none;
  }
  .about-main p {
    display: none;
  }
  .about-next .h {
    display: none;
  }
  .about-next-contnent {
    align-items: center;
  }
  .about-next-contnent button {
    width: 200px;
    height: 30px;
  }

  .build {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart button {
    width: 200px;
    height: 40px;
  }
  .technolog {
    display: none;
  }
}
@media (max-width: 1132px) {
  .box .cart:nth-child(4) {
    display: none;
  }
  .services-content {
    padding: 5px;
  }
  .circle:nth-child(4) {
    display: none;
  }
  .icon {
    display: none;
  }
}
@media (max-width: 943px) {
  .box .cart:nth-child(3) {
    display: none;
  }
  .circle:nth-child(3) {
    display: none;
  }
}
@media (max-width: 549px) {
  .container {
  }
  .box .cart:nth-child(2) {
    display: none;
  }
  .box .cart:nth-child(1) {
    display: none;
  }
  .box {
    display: none;
  }
  .box-play {
    display: block;
  }
  .box-content {
    justify-content: center;
  }
  .services-logo {
    display: flex;
    justify-content: center;
  }
  .services-logo img:nth-child(2) {
    display: none;
  }
  .services-logo img:nth-child(1) {
    display: none;
  }
  .services-logo ion-icon {
    display: block;
  }
  .circle:nth-child(2) {
    display: none;
  }

  .iconss {
    display: none;
  }
  .icons-circle {
    display: block;
  }
  .circle-content {
    display: flex;
    gap: 30px;
    text-align: center;
  }
  .circle-content ion-icon {
    color: #433d60;
    border-radius: 90%;
    background: rgb(141, 131, 186);
    background: linear-gradient(
      90deg,
      rgba(141, 131, 186, 1) 41%,
      rgba(171, 161, 213, 1) 61%
    );
  }
  .circle-content ion-icon:nth-child(2) {
    display: block;
  }
  .circle-content ion-icon:nth-child(4) {
    display: block;
  }
}

@media (max-width: 738px) {
  .services-logo img:nth-child(3) {
    display: none;
  }
}

@media (max-width: 1100px) {
  .input {
    flex-direction: column;
  }
  .input2 input {
    max-width: 500px;
  }
  .input3 input {
    width: 500px;
  }
  .how button {
    width: 200px;
    height: 40px;
  }
}

@media (max-width: 548px) {
  .line-1 {
    width: 116px;
  }
  .input input {
    max-width: 300px;
  }
  .input2 input {
    max-width: 300px;
  }
  .input3 input {
    width: 300px;
  }
}

@media (max-width: 848px) {
  .footer img {
    max-width: 185px;
  }
  .log-content {
    align-items: center;
  }
  .footer button {
    width: 200px;
    height: 40px;
  }
  nav {
    display: none;
  }
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .line-2 {
    display: none;
  }
  .line-3 {
    width: 100%;
    align-items: center;
  }
}
